---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hello!</h1>
			<p>
				Thanks for stopping by. I'm Graham Twaddle and since 2017 I've been a contractor specialising in knowledge management, communications and business analysis. Check out my <a href="https://astro.build/">blog</a> for some of the things I'm thinking about, and my <a href="/projects">projects</a> for some wee projects I've worked on in my spare time.</p>
			<p>Enjoy. 😄</p>
		</main>
		<Footer />
	</body>
</html>
